/License.txt.meta
/README.md.meta
/Codebase/.Solutions/UnityEditor.dll
/Codebase/.Solutions/UnityEngine.dll
/Codebase/.Solutions/obj
/Codebase/.Solutions/Release/*.dll
/Codebase/.Solutions/.vs
